body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
    overflow: hidden;
}

a {
  margin-right: 1rem;
}

html {
  background-color: #0d0b0a;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.logo-login {
  width: 150px;
  margin-bottom: 20px;
  border-radius: 20px;
}

h1 {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}

.login-form {
  background-color: #1f1f1f;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  width: 400px;
}

fieldset {
  border: none;
  margin-bottom: 20px;
}

legend {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

input[type="radio"] {
  margin-right: 10px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#error-message {
  margin-top: 20px;
  color: red;
  font-size: 0.9rem;
}

@media (max-width: 480px) {
  form {
    padding: 20px;
  }

  .logo {
    width: 100px;
  }

  h1 {
    font-size: 1.5rem;
  }
}

.input-container {
  max-width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

#login-button{
  width: 100%;
}
